body {
	min-width: 1000px;
	background-color: white;
	color: #FFFFFF;
}

#sectOne {
	float: left;
	position: relative;
	width: 100%;
	height: 800px;
	display: block;
	overflow: hidden;
}

#header {
	background-color: #efefef;
	width: 100%;
	height: 2em;
	display: block;
	-moz-box-shadow: 0 0 12px #7f7f7f;
    -webkit-box-shadow: 0 0 12px #7f7f7f;
    box-shadow: 0 0 12px #7f7f7f;
}

#header a img {
	float: left;
	display: block;
	height : 4em;
	width : 5em;
	margin-top: -1em;
}

h2 {
	text-align: left;
	color: black;
	font-family: Arial;
}

h3 {
	color: black;
	font-family: Arial;
}


.errorSection{
    position: absolute;
}
.error{
    width: 100%;
    position: relative;
    color: #e84e4f;
    background-color: #9c2b2e;
    border: 2px solid #e84e4f;
    font-family: Arial, Helvetica;
}

hr{
	border: 0;
    width: 80%;
}

span{
    display:inline-block;
    border-bottom:1px solid black;
    padding-bottom:2px;
}

form{
	margin-top: 5em;
}

input{
	display: block;
}
#registerForm {
	position: relative;
	float: left;
	display: block;
	margin-left: 15%;
}

#loginForm {
	float: right;
	display: block;
	margin-right: 15%;
}
