body {
	min-width: 1000px;
	background-color: black;
	color: #FFFFFF;
}

.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
.navbar-default,
 a {
     -webkit-transition: all .35s;
     -moz-transition: all .35s
 }


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}

.navbar-default,
 .navbar-default .navbar-header .navbar-brand,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
 }

  .navbar-default {
     background-color: #fff;
     border-color: rgba(34, 34, 34, .05);
     transition: all .35s
 }
 .navbar-default .navbar-header .navbar-brand {
     background: -webkit-linear-gradient(#fff3b2, #e5c100);
     background: -moz-linear-gradient(#fff3b2, #e5c100);
     background: linear-gradient(#fff3b2, #e5c100);
     -webkit-background-clip: text;
     -moz-background-clip: text;
     background-clip: text;
     -webkit-text-fill-color: transparent;
     -moz-text-fill-color: transparent;
     text-fill-color: transparent;
     font-weight: 700;
     text-transform: uppercase
 }
 .navbar-default .navbar-header .navbar-brand:focus,
 .navbar-default .navbar-header .navbar-brand:hover {
     color: #eb3812
 }
 .navbar-default .navbar-header .navbar-toggle {
     font-weight: 700;
     font-size: 1px;
     color: #222;
     text-transform: uppercase
 }
 .navbar-default .nav>li>a,
 .navbar-default .nav>li>a:focus {
     text-transform: uppercase;
     font-weight: 700;
     font-size: 12px;
     color: #222
 }
 .navbar-default .nav>li>a:focus:hover,
 .navbar-default .nav>li>a:hover {
     color: #F05F40
 }
 .navbar-default .nav>li.active>a,
 .navbar-default .nav>li.active>a:focus {
     color: #F05F40!important;
     background-color: transparent
 }
 .navbar-default .nav>li.active>a:focus:hover,
 .navbar-default .nav>li.active>a:hover {
     background-color: transparent
 }

 .navbar-brand{
  font-size: 13px;
 }
 
 .bg-primary {
    position: relative;
    background: url("../img/cont2_bg.jpg");
    background-position: center;
    height: 630px;
    display: block;
    overflow: hidden;
 }

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

#sectThree h2{
	text-align: center;
	margin-top: 250px;
	background: -webkit-linear-gradient(#fff3b2, #e5c100);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 .start-menu h2{
 	text-align: center;
	margin-top: 175px;
	background: -webkit-linear-gradient(#fff3b2, #e5c100);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }
#sectThree {
	position: relative;
	float: left;
	clear: left;
	background: url("../img/cont2_bg.jpg");
	background-position: center;
	width: 100%;
	height: 620px;
	display: block;
	overflow: hidden;
}

#myForm h2{
	text-align: center;
	margin-top: 200px;
	background: -webkit-linear-gradient(#fff3b2, #e5c100);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#myForm ul{
	text-align: center;
}

#myForm ul li{
	padding: 8px;
	display: block;
}

#lineLeft {
	position: absolute;
	left: 0px;
	top: -4px;
	width: 470px;
	height: 300px;
	background-image: url("../img/cont3_obi_left.png");	
}

#lineRight {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 143px;
	height: 181px;
	background-image: url("../img/cont3_obi_right.png");
}

.button{
	display: inline-block;
}

#nextButton{
	float: right;
	margin-right: 800px;
}

#backButton{
	float: left;
	margin-left: 800px;
}


#startButton{
	height: 80px;
	width: 140px;
	border: 2px solid black;
	border-radius: 70%;
	margin: auto;
	background-color: #e5c100;
	-webkit-box-shadow: 5px 5px 8px #222222;
	-moz-box-shadow: 5px 5px 8px #222222;
	box-shadow: 5px 5px 8px #222222;

}

#startButton:hover{
	background-color: #bea000;
	-webkit-box-shadow: 5px 5px 8px #222222;
	-moz-box-shadow: 5px 5px 8px #222222;
    box-shadow: 5px 5px 8px #222222;

}
#startButton p{
	text-align: center;
	margin-top: 30px;
	font-family: Arial;
	font-weight: bold;
}


#sectThree h2{
	text-align: center;
	margin-top: 250px;
	background: -webkit-linear-gradient(#fff3b2, #e5c100);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}